@import '../base/settings';
@import '../base/flex';

.package_details_wrapper {
    @extend %flex_base;
    width: 80%;
    flex-direction: column;

    .package_titles {
        width: 100%;

        .name {
            font-family: $default-hff;
            color: $clr-main;
            font-size: 3em;
            text-align: left;
        } 
    
        /*TAGS*/
    
        .tag-large {
            border-radius: 50px;
            padding: 8px 10px;
            background-color: #306998;
            color: white;
            font-weight: 300;
            max-width: 100px;
            box-shadow: 0 5px #234e70;
    
            font-size: 1em;
            line-height: 1.5em;
        }
    
    }
    
    .package_content {
        @extend %flex_base;
        justify-content: center;
        flex-direction: row;
        width: 100%;

        .card_gallery {
            @extend %flex_base;
            // margin: auto;
            width: 100%;
            margin: 5% 0;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
        }

        .content_placeholder {
            @extend %flex_center;
            flex-direction: column;
            width: 100%;
            // height: 40vh;
            padding-top: 50px;
            margin: 5% 0;
            background-color: #009edc1c;
            border-radius: 20px;
            box-shadow: inset 0px 0px 10px 4px rgba(0, 119, 255, 0.034);

            h1 {
                font-family: $default-hff;
                color: $dark-main;
                font-size: 2em;
                margin: 0;
            }

            h2 {
                font-family: $default-ff;
                font-weight: 200;
                color: $dark-main;
                font-size: 1.25em;
            }
        }
    }

    .addFunction {
        filter: invert(0.8);
        cursor: pointer;
        transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

        &:hover {
            filter: invert(0.5) sepia(1) saturate(4) hue-rotate(160deg);
        }
    }

    .cancelFunction {
        filter: invert(0.8);
        cursor: pointer;
        transition: 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
        transform: rotateZ(45deg);

        &:hover {
            filter: invert(0.5) sepia(1) saturate(4) hue-rotate(310deg);
        }
    }
} 
